---
const { id, title, desc, link } = Astro.props;
import { Image } from "astro:assets";
import cardImage from "../assets/background.webp";
---

<div class="card-container">
  <Image src={cardImage} alt="Intervalos musicales." class="card-image" />
  <h2>{title}</h2>
  <div class="description">
    <p>
      {desc}
    </p>
  </div>
  <div class="link">
    <a href={link} class="card-link">Empezar</a>
  </div>
</div>

<style>
  .card-container {
    padding: 0.3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  p {
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
  }

  /* auto margins in Flexbox absorb extra space: When an element inside a flex container has margin-top: auto, it expands to take up all the remaining space in that direction. */
  div.link {
    margin-top: auto;
  }
  a.card-link {
    display: block;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
    width: 50%;
    border: 1px solid;
    border-color: color-mix(in oklab, #acb5c7 40%, transparent);
  }
</style>
