---

---

<div class="card-container">
    <h2>My Card</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit nesciunt
      qui possimus nostrum doloribus labore, laboriosam illum nobis ullam
      reprehenderit totam at ipsum ipsa dolores dolorem iure unde deleniti
      tenetur?
    </p>
    <a href="#" class="card-link">Empezar</a>
</div>

<style>
  .card-container {
    background-color: var(--accent-secondary);
    padding: 0.5rem;
  }

  p{
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
  }

  a.card-link{
    display: block;
    margin-top: 5px;
    background-color: blueviolet;
    text-align: center;
    border-radius: 5px;
  }
</style>
